@import url('/mobile.css');

.waiver {
  padding: 40px 15px;
  margin-top: 3rem;
}

.waiver-container {
  max-width: 100%;
}

/* Header */
.waiver-header h2 {
  font-size: 1.8rem;
  width: 60%;
  line-height: 1.3;
}

.subtitle {
  font-size: 14px;
  line-height: 1.6;
}

/* Box */
.waiver-box {
  padding: 5px;
  border-radius: 12px;
}

.waiver-box-content {
  padding: 18px;
  border-radius: 12px;
}

.waiver-box-content h2 {
  font-size: 1rem;
}

.waiver-box-content p {
  font-size: 13px;
  line-height: 1.7;
}

/* Highlight */
.highlight-box {
  padding: 15px;
}

.highlight-box h4 {
  font-size: 12px;
}

.highlight-box p {
  font-size: 12px;
}

/* Checkbox */
.agree-box {
  padding: 15px;
  border-radius: 15px;
  gap: 10px;
}

.agree-box input {
  transform: scale(1.3); /* slightly smaller for mobile */
}

.agree-box label {
  font-size: 11px;
  line-height: 1.5;
}


.signature-box input {
  font-size: 14px;
}

.signature-box input::placeholder {
  font-size: 1rem;
}

/* Button */
button {
  padding: 14px;
  font-size: 14px;
  border-radius: 40px;
}

button img {
  width: 16px;
}